@using Core.BookService
@model PagedBookDto
@{
    ViewData["Title"] = "BookList";
}

<div style="display: flex; justify-content: center; margin-top: 15px;">
    <h1>تمام کتاب ها</h1>
</div>
<div class="search-container">
    <input type="text" id="search-input" placeholder="جستجو...">
    <button id="search-btn"><i class="fa fa-search"></i></button>
</div>
<!-- books -->
<div class="bookscontainer">

    @foreach(var item in Model.Items)
    {
        <div class="bookitem">
            <div class="bookdetails">
                <img src="/api/File/GetFile?filename=@item.ImgName" class="imagebook">
                <div>
                    <h3> @item.Title</h3>
                    <p>@item.AuthorName </p>
                    <p>@item.Price تومان</p>

                </div>

            </div>
            <a asp-action="Index" asp-controller="Book" asp-route-id="@item.Id" class="cardbtn"> مشاهده</a>


        </div>
    }


</div>
<div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 30px; direction: rtl;">
    <div class="paggination" style="display: flex; flex-direction: row-reverse;">
        @for (int i = 1; i <= Model.totalPage; i++)
        {
            if (i == Model.page)
            {
                <a class="active" asp-action="BookList" asp-route-page="@i">@i</a>
            }
            else
            {
                <a asp-action="BookList" asp-route-page="@i">@i</a>
            }
        }
    </div>
</div>

