@using DataAccess.Models
@model Book

<div class="myHeader">
    <div class="headerItems">
        <img class="headImg" src="/api/File/GetFile?filename=@Model.Img" style="width:300px;height:400px;" alt="@Model.Title">
    </div>


    <div class="headerItems">
        <h1>
            @Model.Title
        </h1>
        <p>
            @Model.Description
        </p>
        <p>
            @Model.Author.Name
        </p>

        <div class="bookPrice">
            <input id="bookIntPrice" type="hidden" value="15000">
            <strong id="bookShowPrice"> @Model.Price تومان </strong>
           @*  <div>
                تعداد :  <input id="countInput" type="number" min="1" value="1">

            </div> *@
        </div>


        @* @if (Model.IsAvail)
        {
            <a href="checkout.html" class="cartBtn" style="margin-top: 15px;">
                افزودن به سبد
            </a>
        }
        else
        {
            <a class="cartBtn atext" style="margin-top: 15px;">
                اتمام موجودی
            </a>
        } *@

    </div>



</div>