@using DataAccess.Models
@model Book

<div class="myHeader">
    <div class="headerItems">
        <img class="headImg" style="width:280px; height:300px;" src="/downloadFile/@Model.Img" alt="@Model.Title" />
    
    </div>


    <div class="headerItems">
        <h1>
            @Model.Title
        </h1>
        <p>
            @Model.Description
        </p>
        <p>
            @Model.Author.Name
        </p>

        <div class="bookPrice">
            <input id="bookIntPrice" type="hidden" value="15000">
            <strong id="bookShowPrice"> @Model.Price تومان </strong>
        </div>


        
    </div>



</div>

