@using Core.Extenstion
@using DataAccess.Models

@model List<Basket>
@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <h2>سفارشات من</h2>

    @foreach (var item in Model)
    {
        <div class="order">
            <div class="order-header">
                <div>
                    <span class="order-id">Order #@item.Id</span>
                    @if (item.Status == DataAccess.Enums.Status.Accepted)
                    {
                        <span class="status">ارسال شده</span>
                    }
                    else if (item.Status == DataAccess.Enums.Status.Rejected)
                    {
                        <span style="color:red" class="status">لغو شده</span>
                    }
                    else if (item.Status == DataAccess.Enums.Status.Final)
                    {
                        <span style="color:blue" class="status">در انتظار تایید</span>

                    }
                </div>
                <div>
                    <span class="order-date">@item.Payed.ToPersianDateString()</span>
                </div>
            </div>
            <div class="order-details">
                <div>آدرس: @item.Address</div>
                <div>شماره: @item.Mobile</div>
            </div>
            <div class="order-items">
                @foreach (var book in item.BasketItems)
                {
                    <div class="item">@book.Book.Title -  @(book.Qty * book.Price)</div>

                }
            </div>
            <div class="total">قیمت نهایی: @item.BasketItems.Select(a => a.Price * a.Qty).Sum().ToString("#,##0");</div>
        </div>
    }






    <!-- Add more order blocks for additional orders -->

</div>



