@using Core.Extenstion
@using Core.OrderService.Model
@model List<AdmiOrderDto>
@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                کاربر
            </th>
            <th>
               موبایل
            </th>
            <th>
                تاریخ
            </th>
            <th>
                وضعیت
            </th>
            <th>
                محصولات
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Mobile
                </td>
                <td>
                    @item.Payed.ToPersianDateString()
                </td>
                <td>
                    @if (item.Status == DataAccess.Enums.Status.Accepted)
                    {
                        <span class="status">ارسال شده</span>
                    }
                    else if (item.Status == DataAccess.Enums.Status.Rejected)
                    {
                        <span style="color:red" class="status">لغو شده</span>
                    }
                    else if (item.Status == DataAccess.Enums.Status.Final)
                    {
                        <span style="color:blue" class="status">در انتظار تایید</span>

                    }
                </td>
                <td>
                    @string.Join(",",item.Items)
                </td>
              
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>

